
[submodule "ortholoc/third_party/SOLD2"]
	path = ortholoc/third_party/SOLD2
	url = https://github.com/cvg/SOLD2.git
[submodule "ortholoc/third_party/GlueStick"]
	path = ortholoc/third_party/GlueStick
	url = https://github.com/cvg/GlueStick.git
[submodule "ortholoc/third_party/ASpanFormer"]
	path = ortholoc/third_party/ASpanFormer
	url = https://github.com/Vincentqyw/ml-aspanformer.git
[submodule "ortholoc/third_party/TopicFM"]
	path = ortholoc/third_party/TopicFM
	url = https://github.com/Vincentqyw/TopicFM.git
[submodule "ortholoc/third_party/d2net"]
	path = ortholoc/third_party/d2net
	url = https://github.com/Vincentqyw/d2-net.git
[submodule "ortholoc/third_party/r2d2"]
	path = ortholoc/third_party/r2d2
	url = https://github.com/naver/r2d2.git
[submodule "ortholoc/third_party/DKM"]
	path = ortholoc/third_party/DKM
	url = https://github.com/Vincentqyw/DKM.git
[submodule "ortholoc/third_party/ALIKE"]
	path = ortholoc/third_party/ALIKE
	url = https://github.com/Shiaoming/ALIKE.git
[submodule "ortholoc/third_party/LightGlue"]
	path = ortholoc/third_party/LightGlue
	url = https://github.com/cvg/LightGlue.git
[submodule "ortholoc/third_party/DeDoDe"]
	path = ortholoc/third_party/DeDoDe
	url = https://github.com/Parskatt/DeDoDe.git
[submodule "ortholoc/third_party/RoRD"]
	path = ortholoc/third_party/RoRD
	url = https://github.com/Vincentqyw/RoRD.git
[submodule "ortholoc/third_party/lanet"]
	path = ortholoc/third_party/lanet
	url = https://github.com/agipro/lanet.git
[submodule "ortholoc/third_party/mickey"]
	path = ortholoc/third_party/mickey
	url = https://github.com/agipro/mickey.git
[submodule "ortholoc/third_party/SuperGluePretrainedNetwork"]
	path = ortholoc/third_party/SuperGluePretrainedNetwork
	url = https://github.com/Vincentqyw/SuperGluePretrainedNetwork.git
[submodule "ortholoc/third_party/COTR"]
	path = ortholoc/third_party/COTR
	url = https://github.com/Vincentqyw/COTR.git
[submodule "ortholoc/third_party/gim"]
	path = ortholoc/third_party/gim
	url = https://github.com/xuelunshen/gim.git
[submodule "ortholoc/third_party/dust3r"]
	path = ortholoc/third_party/dust3r
	url = https://github.com/naver/dust3r.git
[submodule "ortholoc/third_party/omniglue"]
	path = ortholoc/third_party/omniglue
	url = https://github.com/Vincentqyw/omniglue-onnx.git
[submodule "ortholoc/third_party/RoMa"]
	path = ortholoc/third_party/RoMa
	url = https://github.com/Parskatt/RoMa.git
[submodule "ortholoc/third_party/SGMNet"]
	path = ortholoc/third_party/SGMNet
	url = https://github.com/agipro/SGMNet.git
[submodule "ortholoc/third_party/DarkFeat"]
	path = ortholoc/third_party/DarkFeat
	url = https://github.com/agipro/DarkFeat.git
[submodule "ortholoc/third_party/mast3r"]
	path = ortholoc/third_party/mast3r
	url = https://github.com/naver/mast3r.git
[submodule "ortholoc/third_party/pram"]
	path = ortholoc/third_party/pram
	url = https://github.com/agipro/pram.git
[submodule "ortholoc/third_party/EfficientLoFTR"]
	path = ortholoc/third_party/EfficientLoFTR
	url = https://github.com/zju3dv/EfficientLoFTR.git
[submodule "ortholoc/third_party/XoFTR"]
	path = ortholoc/third_party/XoFTR
	url = https://github.com/OnderT/XoFTR.git
